* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;   
}

.nav {
    border: 2px solid black;
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
    margin: auto;
    margin-top: 16px;  
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.nav img {
    width: 174.53px;
    height: 32px; 
}

.menulist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 1.2rem;
}
