* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav {
    border-bottom-width: 100%;
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 32px;
    padding-right: 32px;
}

.nav img {
    width: 174.53px;
    height: 32px;
}

.menulist {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    list-style: none;
    line-height: 24px;
    font-size: 14px;
    color: #565D77;
    align-items: center;
    gap: 1.2rem;
}

.nav>button {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    padding: 4px 12px;
    gap: 0.5rem;
    font-size: 16px;
    line-height: 24px;
    color: white;
    vertical-align: auto;
    background-color: #981D87;
}

.first-anchor {
    color: white;
    text-decoration: none;
}

.nav>button img {
    width: 16px;
    height: 24px;

}

.hr {
    opacity: 0.3;
}

.nav2 {
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
    margin: auto;
    padding: 12px 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #fdfdfd;
}

.nav2-menulist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 310px;
}

.nav2-menulist li:hover {
    color: #981D87;
    text-decoration: underline;
    cursor: pointer;
}

.search-div {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    background-color: #981D87;
}

.anchors {
    color: #565D77;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-list {
    display: block;

}

.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-list a:hover {
    background-color: #f1f1f1;
}

section {
    border: 2px solid red;
    height: 100vh;
}

.carousel-container {
    border: 2px solid red;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* Hides default scrollbars if desired */
}

.carousel-slide1 {
    background-image: url(https://wemabank.com/assets/hero-background-NkSVHum_.png);
    width: 100%;
    height: 70vh;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
}

.carousel-slide2 {
    background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .slide1-image1-div {
    position: absolute;
   
} */
.slide1-image2-div {

    margin-top: 120px;
    margin-left: -25px;
}

/* .slide-image3-div {
    position: absolute;
    margin-left: -250px;
} */

.slide2-image1 {

    padding-top: 30px;
}

.slide2-image2 {

    margin-left: -50px;
    padding-bottom: 25px;


}

/* .carousel-track {
    display: flex;
    Lines up items horizontally overflow-x: auto;
    scroll-snap-type: x mandatory;
    Snaps to items scroll-behavior: smooth;
    Enables smooth scrolling gap: 10px;
    Space between cards padding: 10px;
}

.carousel-slide {
    flex: 0 0 80%;
    /* Each card takes up 80% width of the container */
scroll-snap-align: center;
/* Snaps to the center of each item */

/* Styling to make them visible */
height: 200px;
background-color: #ddd;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
}

*/